* {
    margin: 0;
}

h1 {
    text-align: center;
    word-spacing: 0.3em;
    font-family: "Arial Narrow Bold", sans-serif;
    padding: 20px;
    background-color: red;
    height: 60px;
    color: whitesmoke;
    text-shadow: 3px 3px #5a5a5a;
    letter-spacing: 0.4em;
}

span {
    color: black;
    font-family: "Nanum Brush Script", cursive;
}

span,
.yellow {
    font-size: 3.125rem;
}

.yellow {
    color: yellow;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container section {
    flex-basis: 100%;

}

h2 {
    line-height: 60px;
    background-color: yellow;
    opacity: 0.6;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 1.4em;
}

.main-section {
    flex-basis: 100%;
    background-color: #f2f2f2;
    padding: 20px;
}

.main-section::before {
    content: "";
    background-image: url(https://upload.wikimedia.org/wikipedia/en/5/53/Arsenal_FC.svg);
    background-size: cover;
    position: absolute;
    margin-top: 120px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 230vh;
    opacity: 0.1;
}

.side-section {
    flex-basis: 50%;
    background-color: #e8e8e8;
    padding: 20px;
    box-sizing: border-box;
}

img {
    width: 50em;
}

a {
    position: relative;
    font-size: 1.4em;
    z-index: 1;
    line-height: 30px;
    text-decoration: none;
    color: blue;
}

.container-b {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    flex-wrap: wrap;
    gap: 2em;
    grid-template-columns: repeat(8, auto);
    grid-template-areas:
        "left ."
        "left .";
}

p {
    font-size: 1.2em;
}

.left {
    font-size: 1.2em;
    text-align: start;
}

.right {
    width: 20em;
    border-radius: 15%;
}

footer {
    height: 60px;
    background-color: red;
    word-spacing: 0.3em;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.w3{
    margin: 10px;
}

@media only screen and (max-width: 767px) {
    .side-section {
        flex-basis: 100%;
    }
}